@import '../../styles/customMediaQueries.css';

.layout {
  min-height: 100vh;
  grid-template-rows: auto 1fr auto;
  width: 100%;
  max-width: 100vw;
  min-width: 0;

  @media (--viewportMedium) {
    padding-top: var(--topbarHeightDesktop);
  }
}

.topbar {
  composes: marketplaceLayoutTopbar from global;
  position: sticky;
  top: 0;
  z-index: var(--zIndexTopbar);

  @media (--viewportMedium) {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
  }
}

.main {
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  min-width: 0;
}
