.root {
  /* Layout: aspect-ratio definisce l'altezza; niente position absolute per evitare sovrapposizioni */
  display: block;
  width: 100%;
  overflow: hidden;
}

.aspectPadding {
  width: 100%;
  height: 100%;
}

.aspectBox {
  /* position: relative so that lazyLoadWithDimensions' absolute child is contained and gets correct dimensions */
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
