@import '../../styles/customMediaQueries.css';

/* Details column is visible only on desktop */
.detailsContainerDesktop {
  display: none;

  @media (--viewportLarge) {
    flex-shrink: 0;
    display: block;
    /* Dimensions - fluid width with max to match content */
    width: 100%;
    max-width: 409px;
    padding-bottom: 36px;

    /* Position */
    margin: 56px 0 24px 0;

    /* Coloring */
    background-color: var(--colorWhite);
    border: 1px solid var(--colorGrey100);
    border-radius: var(--borderRadius);
  }
}

.detailsAspectWrapper {
  position: relative;
  background-color: var(--colorGrey100); /* Loading BG color */
}

.rootForImage {
  /* Layout - image will take space defined by aspect ratio wrapper */
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;

  @media (--viewportLarge) {
    border-radius: var(--borderRadius) var(--borderRadius) 0 0;
  }
}

.listingDetailsWrapper {
  margin: 0 48px;
}

.avatarWrapper {
  /* Position (over the listing image)*/
  margin-left: 24px;
  margin-top: -31px;

  /* Rendering context to the same level as listing image */
  position: relative;

  /* Layout */
  display: block;

  @media (--viewportLarge) {
    margin-left: 0;
  }
  &.noListingImage {
    margin-top: 24px;
    @media (--viewportMedium) {
      margin-top: 32px;
    }
    @media (--viewportLarge) {
      margin-top: 40px;
    }
  }
}

.detailsHeadings {
  display: none;

  @media (--viewportLarge) {
    display: block;
    margin: 0;
  }
  &.noListingImage {
    @media (--viewportLarge) {
      margin-top: 32px;
    }
  }
}

.priceContainer {
  /* Layout */
  display: flex;
  flex-direction: row;
  align-items: baseline;
  gap: 4px;
  flex-shrink: 0;
  margin-right: 22px;
  padding: 3px 0;

  @media (--viewportMedium) {
    padding: 4px 0;
  }

  @media (--viewportLarge) {
    flex-direction: row;
    margin-right: unset;
    padding: 0;
  }
}
.price {
  composes: p from global;
  font-weight: var(--fontWeightBold);

  margin: 0 0 0 24px;

  @media (--viewportMedium) {
    margin: 0;
    padding: 0;
  }
}

.perUnit {
  composes: p from global;
  font-weight: var(--fontWeightBold);

  padding: 0;

  margin-top: 0;
  margin-bottom: 0;

  @media (--viewportMedium) {
    margin-top: 0;
    margin-bottom: 0;
  }
}
