@import '../../../styles/customMediaQueries.css';

.root {
  position: relative;
  padding-top: 20px;
  padding-bottom: 4px;
  border-bottom: 1px solid var(--colorGrey100);
}

.filterHeader {
  line-height: 24px;
}

.labelButton {
  /* Override button styles */
  width: 100%;
  outline: none;
  line-height: 24px;
  text-align: left;
  border: none;
  padding: 0;
  cursor: pointer;
  background: transparent;
}

.labelButtonContent {
  display: inline-flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;

  &:hover {
    color: var(--marketplaceColor);

    & * {
      color: var(--marketplaceColor);
      stroke: var(--marketplaceColor);
    }
  }
}

.labelWrapper {
  display: inline-block;
  max-width: calc(100% - 24px);
}

.label,
.labelSelected {
  font-size: 11px;
  font-weight: var(--fontWeightSemiBold);
  text-transform: uppercase;
  letter-spacing: 0.08em;
  margin-top: 0;
  margin-bottom: 4px;
}

.label {
  color: var(--colorGrey500);
}

.labelSelected {
  color: var(--marketplaceColor);
  margin-left: 5px;
}

.openSign {
  display: inline-flex;
  align-items: center;
  color: var(--colorGrey400);
  transform: rotate(180deg);
  transition: transform 0.15s ease;
  flex-shrink: 0;
  margin-bottom: 4px;
}

.openSignOpen {
  transform: rotate(0deg);
}

.clearButton {
  composes: h5 from global;
  margin: 0;
  display: block;
  font-weight: var(--fontWeightMedium);
  color: var(--colorGrey500);
  padding: 2px 0 4px 0;

  /* Override button styles */
  outline: none;
  text-align: left;
  border: none;
  cursor: pointer;
  background: transparent;

  &:focus,
  &:hover {
    color: var(--marketplaceColor);
  }

  @media (--viewportMedium) {
    padding: 4px 0 8px 0;
    margin-top: 4px;
  }
}

.plain {
  width: 100%;
  display: none;
  padding-top: 12px;

  @media (--viewportMedium) {
    padding-bottom: 4px;
  }
}

.isOpen {
  display: block;
}
